doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Tietoverkot kurssin harjoitusten vastaukset
  body
    h1 Tietoverkot kurssin harjoitusten vastukset
    |   Harjoitukset
    ol(type='I')
      li.harjoitus
        ol(type='1')
          li.tehtava
            ol(type='a')
              li
                a(href='./harjoitus1a.pcap') harjoitus1a
              li 11
          li.tehtava
            ol(type='a')
              li
                a(href='./harjoitus1b.pcap') harjoitus1b
              li
                | Pakettien määrä oli tällä kertaa isompi kuin a-kohdassa.
                | Yhteyden avauksen esim. teki 2 kertaa jostain syystä ja
                | sulkemiseen myös. Reloadin takia välittyi 10 pakettia 
                | enemmän.
              li 28
